    {% extends "layout.html" %}
   
    {% block content %}
    <h1>Login</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form name="login" action="" method="post">

                {{ user_form.hidden_tag() }}
                <br>
                {{ user_form.email.label }}
                {{ user_form.email(size=35) }}
                <br>
                {{ user_form.password.label }}
                {{ user_form.password(size=15) }}
                <br>
                {{ user_form.submit() }}
            </form>
        </div>
    </div>
 {% endblock %}