
    {% extends "layout.html" %}
   
    {% block content %}
    <h2>New User Registration</h2>

    <div class="container">

        <form name="register" action="" method="post">

            {{ register_form.hidden_tag() }}

            <p>
                {{ register_form.email.label }}
                {{ register_form.email(size=35) }}
            </p>

            <p>
                {{ register_form.password.label }}
                {{ register_form.password(size=15) }}
            </p>

            <p>
                {{ register_form.password_confirm.label }}
                {{ register_form.password_confirm(size=15) }}
            </p>

            <p>
                {{ register_form.first_name.label }}
                {{ register_form.first_name(size=15) }}
            </p>

            <p>
                {{ register_form.last_name.label }}
                {{ register_form.last_name(size=15) }}
            </p>

            <p>
                {{ register_form.submit() }}
            </p>
        </form>
    </div>
    {% endblock %}